@font-face {
  font-family: "Monotype Corsiva";
  src: url("MTCORSVA.TTF");
}

@font-face {
  font-family: "Microsoft Tai Le";
  src: url("ntailu.ttf");
}

* {
  background-color: #110c51;
  font-family: "Microsoft Tai Le";
  box-sizing: border-box;
  color: white;
}

body {
  background-color: #110c51;
}

.navbar {
  float: left;
}

ul {
  list-style-type: none;
  float: left;
  width: 80%;
  margin: auto;
}

li {
  width: 20%;
  float: left;
  padding: 1% 2%;
  text-align: center;
  margin-top: 2%;
  font-family: "Monotype Corsiva";
  font-size: 2vw;
}

.dropbtn {
  background-color: inherit;
  color: white;
  border: none;
  cursor: pointer;
  font-family: "Monotype Corsiva";
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  min-width: 180px;
}

.dropdown-content a {
  text-decoration: none;
  display: block;
  font-family: "Monotype Corsiva";
  color: white;
}

.dropdown-content a:hover {
  background-color: #48c7e5;
  text-decoration: none;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

a.navlink:after {
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  background: #fffa3e;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a.navlink:hover:after {
  width: 100%;
  left: 0;
}

a {
  font-family: "Monotype Corsiva";
  cursor: pointer;
}

.middle {
  margin-top: 0%;
}

.logo {
  width: 100%;
}

#slideshow {
  clear: both;
}

.carousel-item {
  height: 600px;
}

.carousel-item img {
  object-fit: cover;
  height: 600px;
}

.title {
  padding-top: 2%;
  font-family: "Monotype Corsiva";
  text-align: center;
  margin-bottom: 0%;
}

.info {
  padding: 0% 10%;
  text-align: justify;
  margin-bottom: 0%;
}

.featured {
  padding-top: 2%;
}

.featuredtitle1 {
  padding-left: 10%;
  font-family: "Monotype Corsiva";
  margin-bottom: 0%;
}

.info1 {
  padding: 2% 2% 2% 10%;
  width: 60%;
  float: left;
  text-align: justify;
}

.featuredimg1 {
  float: left;
  width: 40%;
  padding: 2% 10% 2% 2%;
}

.underline {
  width: 80%;
  margin-left: 10%;
}

.featuredtitle2 {
  padding: 0% 0% 0% 42%;
  font-family: "Monotype Corsiva";
  margin-bottom: 0%;
}

.info2 {
  padding: 2% 10% 2% 2%;
  width: 60%;
  float: left;
  text-align: justify;
}

.featuredimg2 {
  float: left;
  width: 40%;
  padding: 2% 2% 2% 10%;
}

.bottom {
  float: left;
  width: 100%;
  background-color: #48c7e5;
}

.copyright {
  float: left;
  width: 50%;
  background-color: #48c7e5;
  color: black;
  margin-top: 1%;
  padding-left: 10%;
}

.TOS {
  float: right;
  width: 50%;
  background-color: #48c7e5;
  color: black;
  margin-top: 1%;
  padding-right: 10%;
  text-align: right;
}
/* 
@media screen and (min-width: 320px) {
  li {
    float: left;
    font-size: 4vw;
    width: 25%;
  }

  middle {
    float: none;
  }
} */
